/* @unocss;

@tailwind base;
@tailwind components;
@tailwind utilities; */

/* @layer utilities {

  .webkit-box {
    display: -webkit-box;
  }

  .origent-vertical {
    -webkit-box-orient: vertical;
  }

  .line-clamp-5 {
    -webkit-line-clamp: 5;
  }
} */

html {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}